<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.getrates.in</SiteUrlToLaunchAfterPublish>
    <publishUrl>ftp://getrates.in</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>mthakral</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/EntityFramework.dll">
      <publishTime>01/20/2012 18:15:18</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>01/20/2012 18:15:18</publishTime>
    </File>
    <File Include="bin/GetRates.Domain.dll">
      <publishTime>07/03/2012 21:13:52</publishTime>
    </File>
    <File Include="bin/GetRates.Services.dll">
      <publishTime>07/03/2012 21:13:52</publishTime>
    </File>
    <File Include="bin/GetRates.UI.dll">
      <publishTime>07/03/2012 21:13:54</publishTime>
    </File>
    <File Include="bin/GetRates.Web.dll">
      <publishTime>07/03/2012 21:13:53</publishTime>
    </File>
    <File Include="bin/HtmlAgilityPack.dll">
      <publishTime>05/07/2010 12:32:56</publishTime>
    </File>
    <File Include="bin/HtmlAgilityPack.xml">
      <publishTime>05/07/2010 12:32:56</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>01/20/2012 18:15:21</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Optimization.dll">
      <publishTime>01/20/2012 18:15:25</publishTime>
    </File>
    <File Include="bin/MongoDB.Bson.dll">
      <publishTime>02/01/2012 00:26:00</publishTime>
    </File>
    <File Include="bin/MongoDB.Bson.xml">
      <publishTime>02/01/2012 00:26:00</publishTime>
    </File>
    <File Include="bin/MongoDB.Driver.dll">
      <publishTime>02/01/2012 00:26:00</publishTime>
    </File>
    <File Include="bin/MongoDB.Driver.xml">
      <publishTime>02/01/2012 00:26:00</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>01/21/2012 14:16:17</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.dll">
      <publishTime>01/21/2012 14:17:01</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.xml">
      <publishTime>01/21/2012 14:17:01</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>01/21/2012 14:16:17</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>01/20/2012 18:15:22</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>01/20/2012 18:15:24</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>01/20/2012 18:15:24</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>01/20/2012 18:15:22</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>01/20/2012 18:15:22</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>01/20/2012 18:15:22</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>01/20/2012 18:15:22</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>01/21/2012 14:17:01</publishTime>
    </File>
    <File Include="Content/asc.gif">
      <publishTime>01/21/2012 00:13:47</publishTime>
    </File>
    <File Include="Content/bg.gif">
      <publishTime>01/21/2012 00:13:47</publishTime>
    </File>
    <File Include="Content/desc.gif">
      <publishTime>01/21/2012 00:13:47</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>01/23/2012 14:54:21</publishTime>
    </File>
    <File Include="Content/tablesorter.css">
      <publishTime>01/21/2012 00:55:05</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>01/20/2012 18:15:17</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>01/20/2012 18:15:16</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>01/20/2012 18:15:13</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_diagonals-thick_18_b81900_40x40.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_flat_10_000000_40x100.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-bg_highlight-soft_75_ffe45c_1x100.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-icons_222222_256x240.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-icons_228ef1_256x240.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-icons_ef8c08_256x240.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-icons_ffd27a_256x240.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/images/ui-icons_ffffff_256x240.png">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery-ui.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.accordion.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.all.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.autocomplete.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.base.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.button.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.core.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.datepicker.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.dialog.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.progressbar.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.resizable.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.selectable.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.slider.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.tabs.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Content/themes/ui-lightness/jquery.ui.theme.css">
      <publishTime>01/21/2012 18:45:20</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>01/22/2012 10:10:47</publishTime>
    </File>
    <File Include="Images/accent.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/aspNetHome.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/bullet.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/facebook.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/findHosting.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/money2India.jpg">
      <publishTime>01/21/2012 20:35:42</publishTime>
    </File>
    <File Include="Images/NuGetGallery.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/orderedListOne.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/orderedListThree.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/orderedListTwo.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/Progress.gif">
      <publishTime>01/21/2012 18:27:13</publishTime>
    </File>
    <File Include="Images/remit2India.gif">
      <publishTime>01/21/2012 20:34:19</publishTime>
    </File>
    <File Include="Images/twitter.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/windowsLive.png">
      <publishTime>01/20/2012 18:14:59</publishTime>
    </File>
    <File Include="Images/xoom.png">
      <publishTime>01/21/2012 20:34:35</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>01/20/2012 18:15:26</publishTime>
    </File>
    <File Include="Scripts/AjaxLogin.js">
      <publishTime>07/03/2012 21:12:22</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <publishTime>01/20/2012 18:15:11</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>01/20/2012 18:15:11</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <publishTime>01/20/2012 18:15:11</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>01/20/2012 18:15:13</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>01/20/2012 18:15:13</publishTime>
    </File>
    <File Include="Scripts/jquery.tablesorter.min.js">
      <publishTime>01/21/2012 00:12:28</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>01/20/2012 18:15:18</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>01/20/2012 18:15:18</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>01/20/2012 18:15:12</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>01/20/2012 18:15:12</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>01/20/2012 18:15:12</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>01/20/2012 18:15:18</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>01/20/2012 18:15:18</publishTime>
    </File>
    <File Include="Scripts/knockout-1.3.0beta.debug.js">
      <publishTime>01/20/2012 18:15:26</publishTime>
    </File>
    <File Include="Scripts/knockout-1.3.0beta.js">
      <publishTime>01/20/2012 18:15:26</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>01/20/2012 18:15:21</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>01/20/2012 18:15:00</publishTime>
    </File>
    <File Include="Views/Home/Contact.cshtml">
      <publishTime>01/20/2012 18:15:00</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>01/23/2012 14:54:21</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>01/20/2012 18:15:00</publishTime>
    </File>
    <File Include="Views/Shared/_ConversionTable.cshtml">
      <publishTime>01/26/2012 01:41:50</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>01/23/2012 13:50:17</publishTime>
    </File>
    <File Include="Views/Shared/_LogOnPartial.cshtml">
      <publishTime>01/20/2012 18:15:00</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>01/20/2012 18:15:00</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>01/20/2012 18:15:00</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>07/03/2012 21:14:13</publishTime>
    </File>
  </ItemGroup>
</Project>