<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MongoDbConnString" connectionString="mongodb://coder:coder123@staff.mongohq.com:10091/GetRatesDB"/>
	</connectionStrings>
	<appSettings>
		<add key="MongoDbName" value="GetRatesDB"/>
	</appSettings>
		
</configuration>